:root {
  --color-black: #000;
  --color-white: #fff;
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@font-face {
  font-family: "helveticaneuecyr";
  src: local("helveticaneuecyr"), url("../fonts/helveticaneuecyr.woff");
}
html {
  box-sizing: border-box;
}

html, html a {
  /*text-shadow: 1px 1px 1px rgba(0,0,0,0.004);*/
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: rgba(144, 144, 144, 0.1);
}

.overFlow {
  overflow: hidden;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.footer-container {
  margin: 0 auto;
  max-width: 1420px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info-text {
  font-size: 18px;
  max-width: 150px;
  position: relative;
  color: #303030;
  font-size: 21px;
  font-weight: 700;
}
.header__info-text img {
  position: absolute;
  top: -15px;
  z-index: -1;
}
.header__info-text span {
  color: #9789aa;
}

.btn {
  color: #303030;
  font-size: 19px;
  font-weight: 700;
  border-radius: 30px;
  border: 2px solid #000;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-left: 60px;
}
.btn:hover {
  background: #303030;
  color: #fff;
  border: 2px solid transparent;
}

.header__menu {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu li {
  text-transform: capitalize;
  color: #303030;
  font-size: 18px;
}

.main-screen__block-logo {
  color: #303030;
  font-size: 140px;
  text-transform: uppercase;
  line-height: 1.55;
  font-weight: 800;
}
.main-screen__block-logo span {
  color: #f8d225;
}

.main-screen__block-info {
  display: flex;
}

.main-screen__left-text {
  color: #000000;
  font-size: 30px;
  line-height: 1.55;
  font-weight: 400;
}
.main-screen__left-text span {
  color: #9789aa;
}

.main-screen__left-arrow {
  display: flex;
  align-items: flex-start;
}
.main-screen__left-arrow img {
  max-width: 59px;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.main-screen__left-arrow img:hover {
  transform: translateY(20px);
}

.main-screen__left-descr {
  margin-top: 39px;
  max-width: 150px;
  color: #9789aa;
  font-size: 24px;
  text-transform: lowercase;
  line-height: 1.05;
  font-weight: 700;
  cursor: pointer;
}

.main-screen__right {
  margin-left: 50px;
  margin-top: 40px;
}

.main-screen__right-title {
  color: #303030;
  font-size: 28px;
  line-height: 1.55;
  font-weight: 400;
  margin-bottom: 20px;
}

.main-screen__right-tags {
  display: flex;
}

.main-screen__tags-block {
  margin-left: 50px;
}
.main-screen__tags-block:first-child {
  margin-left: 0;
}

.main-screen__tags-item {
  color: #f8d225;
  font-size: 28px;
  line-height: 1.55;
  font-weight: 800;
  border-width: 1px;
  border-radius: 30px;
  cursor: pointer;
  transition: color 0.2s linear;
}
.main-screen__tags-item:hover {
  color: #303030;
}

.main-screen__about {
  display: flex;
}

.main-screen__about-item {
  margin-top: 15px;
}
.main-screen__about-item:first-child {
  margin-right: 25px;
}

.aaa {
  width: 100%;
  background: #f8d225;
  height: 140px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  margin-bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  text-transform: lowercase;
  font-weight: 700;
  color: #fff;
  padding-bottom: 18px;
}

.main-screen__abot-item-img {
  transition: transform 0.3s linear;
  cursor: pointer;
}
.main-screen__abot-item-img:hover {
  transform: translateX(50px);
}

.main-screen__block-logo--small {
  font-size: 25px;
}

.sticky-logo__wrapper {
  border-bottom: 1px solid #303030;
  padding-bottom: 10px;
  top: 0;
  margin-bottom: 20px;
}

.marquee {
  width: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #ccc;
}

.clients__block {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients__block-item {
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s linear;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 50px;
  height: 74px;
  max-width: 350px;
}
.clients__block-item:hover {
  transform: translateY(-30px);
}
.clients__block-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__title {
  color: #303030;
  font-size: 110px;
  line-height: 1.55;
  font-weight: 800;
}
.page__title span {
  color: #9789aa;
}

.contanct__buttons {
  display: flex;
  margin-bottom: 50px;
}

.contacts__buttons-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d1d1d1;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 800;
  margin-right: 30px;
}
.contacts__buttons-item:last-child {
  margin-right: 0;
}
.contacts__buttons-item .btn {
  width: 260px;
  text-align: center;
  margin-left: 0;
  margin-bottom: 20px;
}

.contacts__subtitle {
  color: #f8d225;
  font-size: 33px;
  line-height: 1.2;
  font-weight: 800;
  max-width: 554px;
}
.contacts__subtitle span {
  color: #303030;
  font-size: 27px;
  font-weight: 400;
}

.contacts__arrows {
  display: flex;
  margin-left: 80px;
  margin-bottom: -80px;
  margin-top: -100px;
  z-index: -1;
}

.contacts__arrows-item {
  z-index: -1;
  max-width: 250px;
}
.contacts__arrows-item:last-child {
  transform: translate(-140px, 25px);
}

.contacts__wrapper {
  display: flex;
  padding-bottom: 100px;
  justify-content: space-between;
}

.contacts__block-img {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.contacts__block-item:last-child {
  margin-bottom: 50px;
  margin-left: 25px;
}

.contancts__bg {
  position: absolute;
  background: #f8d225;
  width: 100%;
  height: 160px;
  z-index: -1;
  bottom: 15px;
}

.footer {
  background: rgba(144, 144, 144, 0.1);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.li__maxWidth {
  max-width: 200px;
}

.footer__item-link {
  color: #303030;
  font-size: 20px;
  opacity: 0.8;
  line-height: 1.1;
  font-weight: 400;
}

.span-yellow {
  color: #f8d225 !important;
}

.about-us__item-title {
  color: #d1d1d1;
  font-size: 49px;
  line-height: 1.55;
  font-weight: 800;
}

.about-us__item-descr {
  color: #000000;
  font-size: 20px;
  max-width: 483px;
  line-height: 1.3;
  font-weight: 400;
  opacity: 0.7;
  margin: 15px 0 5px 0;
}

.about-us__block-item {
  display: flex;
}

.about-us__item-img {
  margin-bottom: 100px;
}

.about-us__item-right {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  align-content: flex-start;
}

.about-us__item-tabs {
  color: #f8d225;
  margin-bottom: 20px;
  margin-left: 15px;
  font-size: 19px;
  line-height: 1.55;
  font-weight: 700;
  border-width: 2px;
  border-radius: 30px;
  padding: 5px 15px;
  max-height: 40px;
  padding-bottom: 20px;
  border: 2px solid #f8d225;
  transition: all 0.3s linear;
  cursor: pointer;
}
.about-us__item-tabs:hover {
  color: #fff;
  background: #f8d225;
}
.about-us__item-tabs--black {
  color: #000;
  border: 2px solid #000;
}
.about-us__item-tabs--black:hover {
  color: #fff;
  background: #303030;
}

.services__title {
  margin-top: 90px;
  border-top: 3px solid #9789aa;
  border-bottom: 3px solid #9789aa;
  color: #303030;
  font-size: 66px;
  line-height: 1.55;
  font-weight: 800;
}

.services__item {
  display: flex;
  justify-content: flex-end;
}

.right {
  width: 50%;
  color: #303030;
  font-size: 20px;
  padding: 20px 0;
  line-height: 1.55;
  font-weight: 400;
}

.header__menu-mobile {
  display: none;
}

.main-screen__about-img {
  display: flex;
}

.header__logo-info {
  display: none;
}

.about-us__item-right-tabs {
  display: flex;
  flex-wrap: wrap;
}

.about-us__item-tabs-content-item {
  background: #fff;
  border-radius: 30px;
  padding: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.7s linear;
}
.about-us__item-tabs-content-item ul li {
  list-style: circle;
  color: #000000;
  font-size: 20px;
  font-family: "Raleway", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.active-tab {
  opacity: 1;
  height: auto;
  overflow: visible;
  padding: 20px;
}

.active__tab-item {
  background: #f8d225;
  color: #fff;
}

.header__menu-mobilee {
  display: none;
}

.menu__mobile {
  position: absolute;
  display: flex;
  right: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 0;
  background: #303030;
  width: 50%;
  height: 100vh;
  z-index: 1000;
  top: -16px;
  transition: transform 0.5s linear;
  transform: translateY(-100%);
}
.menu__mobile li {
  margin-top: 20px;
  color: #fff;
}

.menu__mobile-active {
  transform: translateY(0);
}

.close {
  font-size: 60px;
  position: absolute;
  top: 0;
  right: 25px;
}

.menu__mobile {
  display: none;
}

@media (max-width: 1150px) {
  .header__menu {
    display: none;
  }

  .menu__mobile {
    display: flex;
  }

  .btn {
    font-size: 13px;
  }

  .header__menu-mobile {
    display: block;
  }

  .burger__menu-line {
    width: 30px;
    height: 2px;
    margin-bottom: 5px;
    background: #000;
  }

  .main-screen__left {
    display: none;
  }

  .main-screen__right {
    margin: 0;
  }

  .contacts__arrows {
    position: absolute;
    margin-top: -80px;
  }

  .contacts__buttons-item .btn {
    margin-top: 100px;
    width: 191px;
  }

  .contacts__subtitle span {
    font-size: 22px;
  }
}
@media (max-width: 900px) {
  .about-us__block-item {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .right {
    width: 100%;
  }

  .about-us__item-right {
    width: 100%;
  }

  .main-screen__block-logo {
    font-size: 92px;
  }

  .main-screen__tags-item {
    font-size: 20px;
  }

  .aaa {
    font-size: 63px;
  }

  .main-screen__block-logo--small {
    font-size: 22px;
  }

  .page__title {
    font-size: 64px;
  }

  .clients__block {
    justify-content: flex-start;
  }

  .clients__block-item {
    margin-right: 35px;
  }

  .contacts__wrapper {
    flex-direction: column;
  }

  .contacts__block-img {
    margin-top: 50px;
  }
}
@media (max-width: 680px) {
  .header__wrapper {
    justify-content: flex-end;
  }

  .services__title {
    font-size: 21px;
    line-height: 1;
  }

  .right {
    font-size: 12px;
  }

  .about-us__item-tabs {
    text-align: center;
    width: 100%;
    margin-left: 0;
    font-size: 14px;
  }

  .about-us__item-tabs-content-item ul li {
    font-size: 15px;
    list-style: none;
  }

  .about-us__item-tabs-content-item ul {
    padding-left: 0;
  }

  .about-us__item-title {
    font-size: 33px;
  }

  .active-tab {
    padding: 10px;
  }

  .header__info {
    display: none;
  }

  .clients__block {
    justify-content: center;
  }

  .main-screen__about {
    flex-direction: column;
  }

  .main-screen__block-logo {
    font-size: 52px;
  }

  .main-screen__tags-item {
    font-size: 13px;
  }

  .aaa {
    font-size: 50px;
    height: 100px;
  }

  .main-screen__block-logo--small {
    font-size: 20px;
  }

  .page__title {
    font-size: 41px;
  }

  .clients__block-item {
    margin-right: 0;
  }

  .contacts__buttons-item {
    font-size: 13px;
  }

  .contacts__buttons-item .btn {
    width: 125px;
  }

  .contacts__arrows {
    overflow: hidden;
    margin-left: -28px;
    width: 100%;
  }

  .contacts__subtitle {
    font-size: 23px;
  }

  .contacts__arrows-item:last-child {
    position: absolute;
    z-index: 1000;
    right: -180px;
    width: 250px;
  }

  .contacts__arrows-item:first-child {
    width: 250px;
    z-index: 1000;
    right: 0;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts__buttons-item .btn{
  width:162px;
  }
}
@media (max-width: 340px){
  .contacts__buttons-item .btn{
  width:125px;
  }
}
/*# sourceMappingURL=main.css.map */
